<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.MvxForms.Starter.App" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="13" />
	<application android:label="MvxForms.Starter.App.Android"></application>
</manifest>