<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MvvmCross" version="6.2.3" targetFramework="net47" />
  <package id="MvvmCross.Forms" version="6.2.3" targetFramework="net47" />
  <package id="MvvmCross.Forms.Platforms.Wpf" version="6.2.3" targetFramework="net47" />
  <package id="MvvmCross.Platforms.Wpf" version="6.2.3" targetFramework="net47" />
  <package id="OpenTK" version="3.0.1" targetFramework="net461" />
  <package id="OpenTK.GLControl" version="3.0.1" targetFramework="net461" />
  <package id="System.Console" version="4.3.1" targetFramework="net461" />
  <package id="WpfLightToolkit" version="1.0.3" targetFramework="net461" />
  <package id="Xamarin.Forms" version="3.6.0.220655" targetFramework="net47" />
  <package id="Xamarin.Forms.Platform.WPF" version="3.6.0.220655" targetFramework="net47" />
</packages>